@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Job Application Tracker</h1>
    <p class="lead">Organize and track your job applications efficiently!</p>
    <hr class="my-4">
    <p>
        <a asp-action="Index" asp-controller="Applications" class="btn btn-primary btn-lg">Get Started</a>
    </p>
</div>
